
    <form  method="get" action="{% url 'Pages:search' %}">
        <div class="row g-2">
            <div class="col-lg-3 col-md-6">
                <div class="filler-job-form">
                    <i class="uil uil-briefcase-alt"></i>
                    <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" placeholder="Title" name="title">
                </div>
            </div><!--end col-->
            <div class="col-lg-3 col-md-6">
                <div class="filler-job-form">
                    <i class="uil uil-location-point"></i>
                    <select class="form-select" data-trigger name="priority" id="choices-single-location" aria-label="Default select example">
                        <option value="0">All Priority</option> 
                        {% comment %} <option value="">None</option>  {% endcomment %}
                        {% for priority in priorities%}
                        <option value="{{priority.pk}}">{{priority.priority_type}}</option>  
                        {% endfor %}                                              
                        
                    </select>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6">
                <div class="filler-job-form">
                    <i class="uil uil-clipboard-notes"></i>
                    
                    <select class="form-select " data-trigger name="status" id="choices-single-categories" aria-label="Default select example">
                        <option value="0">All Status</option> 
                        {% comment %} <option value="">None</option>  {% endcomment %}
                        {% for status in statuses %}                                                
                        <option value="{{status.pk}}">{{status.status}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div><!--end col-->
            <div class="col-lg-3 col-md-6">
                <button type="submit" id="submit" name="submit" class="btn btn-primary w-100"><i class="uil uil-filter"></i> Fliter</button>
            </div><!--end col-->
        </div><!--end row-->
    </form>
