{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div>

            
    <div class="main-content">

        <div class="page-content">

            <!-- START SIGN-IN -->
            <section class="bg-auth">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-12">
                            <div class="card auth-box">
                                <div class="row g-0">
                                
                                    <div class="col-lg-12">
                                        <div class="auth-content card-body p-5 h-100 text-white">
                                            <div class="w-100">
                                                <div class="text-center mb-4">
                                                    <h5>Welcome Back !</h5>
                                                    <p class="text-white-70">Sign in to continue to I-Task.</p>
                                                </div>
                                                {% if not SOCIALACCOUNT_ONLY %}
        
                                                {% url 'account_login' as login_url %}
                                                {% element form form=form method="post" action=login_url tags="entrance,login" attrs="class:auth-form" %}
                                                    {% slot body %}
                                                        {% csrf_token %}
                                                        {% element fields form=form unlabeled=True %}
                                                        {% endelement %}
                                                        {{ redirect_field }}
                                                    {% endslot %}
                                                    {% slot actions %}
                                                    <div class="text-center">
                                                        {% element button type="submit" tags="prominent,login" %}
                                                            {% trans "Sign In" %}
                                                        {% endelement %}
                                                    </div>
                                                    {% endslot %}
                                                {% endelement %}
                                            {% endif %}
                                                
                                                
                                                <div class="mt-4 text-center">
                                                    <p class="mb-0">Don't have an account ? <a href="{{ signup_url }}" class="fw-medium text-white text-decoration-underline"> Sign Up </a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end auth-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </section>
            <!-- END SIGN-IN -->
            
        </div>
        <!-- End Page-content -->

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

   
  
  
    
{% endblock content %}
