{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div>

            
    <div class="main-content">

        <div class="page-content">

            <!-- START RESET-PASSWORD -->
            <section class="bg-auth">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-12">
                            <div class="card auth-box bg-white text-dark">
                                <div class="row g-0">
                                   
                                    <div class="col-lg-12">
                                        <div class="auth-content card-body p-5 h-100 text-white">
                                            <div class="text-center mb-4">
                                                <h5>Reset Done</h5>
                                                {% if user.is_authenticated %}
                                                {% include "account/snippets/already_logged_in.html" %}
                                            {% endif %}
                                            
                                                <p class="text-white-50">We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
                                            </div>
                                            
        
                                           
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end auth-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </section>
            <!-- END RESET-PASSWORD -->
            
        </div>
        <!-- End Page-content -->

    </div>
    <!-- end main content-->

</div>
   
  
{% endblock content %}