{% extends 'base.html'%}
{% block title%}Task {% endblock%}
{%load static%}
{% load default_tags %}
{%block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        
        <!--end container-->
    </section>
    <!-- end home -->

    

    <!-- START JOB-LIST -->
    <section class="section h-100">
        <div class="container">
            <div class="row">

                <div class="col-lg-10">
                    <div class="me-lg-5">
                        <div class="job-list-header">
                            <form  method="get" action="{% url 'Pages:search' %}">
                                <div class="row g-2">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="filler-job-form">
                                            <i class="uil uil-briefcase-alt"></i>
                                            <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" placeholder="Title" name="title">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="filler-job-form">
                                            <i class="uil uil-location-point"></i>
                                            <select class="form-select" data-trigger name="priority" id="choices-single-location" aria-label="Default select example">
                                                {% for priority in priorities%}
                                                <option value="{{priority.pk}}">{{priority.priority_type}}</option>  
                                                {% endfor %}                                              
                                                
                                            </select>
                                        </div>
                                    </div><!--end col-->
                                    
                                    <div class="col-lg-3 col-md-6">
                                        <div class="filler-job-form">
                                            <i class="uil uil-clipboard-notes"></i>
                                            
                                            <select class="form-select " data-trigger name="status" id="choices-single-categories" aria-label="Default select example">
                                                
                                                {% for status in statuses %}
                                                <option value="{{status.pk}}">{{status.status}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-md-6">
                                        <button type="submit" id="submit" name="submit" class="btn btn-primary w-100"><i class="uil uil-filter"></i> Fliter</button>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div><!--end job-list-header-->
                        
                        <div>
                                         
                            {% for task in results %}
                            <div class="job-box card mt-4">
                                <div class="p-4">
                                    <div class="row">                                        
                                        <div class="col-lg-11">
                                            <div class="mt-3 mt-lg-0">
                                                <h5 class="fs-17 mb-1"><a href="{{task.get_absolute_url}}" class="text-dark">{{task.ticket}} / {{task.title}}</a> </h5>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0">Created: {{task.create_date}}</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0">{{task.assigned_to}}</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{task.sector}}</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> {{task.issue_type}}</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> <span class="badge bg-soft-danger mt-1">{% include 'includes/status.html' %}</span></p>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                   
                                </div>
                               
                            </div>
                            <!--end job-box-->  
                            <div class="job-box card mt-4 shadow-lg p-3 mb-5 bg-body rounded">
                                <div class="p-4">
                                    <div class="row">                                        
                                        <div class="col-lg-11">
                                            <div class="mt-3 mt-lg-0 text-center ">                                      
                                                <p class="text-muted fs-3 mb-0">No Task Found !</p>                                                
                                            </div>
                                            
                                        </div><!--end col-->
                                    </div><!--end row-->
                                   
                                </div>
                               
                            </div>
                            {% endfor%}
    
    
                        </div>
                        <!-- End Job-list -->
    
                        <div class="row">
                            <div class="col-lg-12 mt-4 pt-2">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">
                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                </a>
                                            </li>
                                            {% if page_obj.number > 3 %}
                                                <a class="page-link" href="?page=1">1</a>
                                                {% if page_obj.number > 4 %}
                                                    <span>...</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                    <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                                                 <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                                {% endif%}
                                                {% endfor%}

                                        {% if page_obj.has_next %}
                                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                                            <span>...</span>
                                            <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>                                            
                                            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2'%}
                                            <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
                                            {% endif %}
                                       <li class="page-item">
                                            <a class="page-link" href="?pages={{page_obj.next_page_number}}">
                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div><!--end col-->
                        </div><!-- end row -->
                    </div>

                </div>
                
            </div>
        </div>
    </section>
    <!-- END JOB-LIST -->

    <!-- START APPLY MODAL -->
    <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <div class="text-center mb-4">
                        <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
                    </div>
                    <div class="position-absolute end-0 top-0 p-3">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="mb-3">
                        <label for="nameControlInput" class="form-label">Name</label>
                        <input type="text" class="form-control" id="nameControlInput" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="emailControlInput2" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="emailControlInput2" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="messageControlTextarea" class="form-label">Message</label>
                        <textarea class="form-control" id="messageControlTextarea" rows="4" placeholder="Enter your message"></textarea>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="inputGroupFile01">Resume Upload</label>
                        <input type="file" class="form-control" id="inputGroupFile01">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Application</button>
                </div>
            </div>
        </div>
    </div><!-- END APPLY MODAL -->

</div>
<!-- End Page-content -->
{% endblock%}


